src/predictions/
src/*png
src/*csv
src/data
src/results
model/
src/pretrained/*
*.pyc
data/
results/
tmp/
__pycache__/
*.csv
src/__pycache__
tmp_code/
vis/
debug/
flow_results/
paper_results/
*results*/